<form>
  <input type="text"
         id="article_title"
         value="<%= article.escape('title') %>">
  <label for="show_title">show title?</label>
  <input type="checkbox"
         id="show_title"
         <% if (article.get('show_title')) { %>
         checked
         <% } %>
         >
  <br>

  <textarea id="article_body"><%= article.escape('body') %></textarea>
  <label for="show_body">show body?</label>
  <input type="checkbox"
         id="show_body"
         <% if (article.get('show_body')) { %>
         checked
         <% } %>
         >
  <br>
  
  <input type="submit" value="update article">
<form>
<a href="#" class="add-section">add section</a>
