<form>
  <div class="row">
    <div class="col-md-12">
      <div class="input-group input-group-lg article-title">
        <input type="text"
               id="article_title"
               class="article-title form-control"
               placeholder="title"
               <% if (article.has('title')) { %>
                 value="<%= article.escape('title') %>"
               <% } %>
               <% if (article.get('hide_title')) { %>
                 disabled
               <% } %>
               >
        <span class="input-group-addon">
          <input type="checkbox"
                 id="hide_article_title"
                 <% if (article.get('hide_title')) { %>
                 checked
                 <% } %>
                 >
                 <!--<label for="hide_title">hide?</label>-->
        </span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="input-group input-group-lg">
        <textarea class="article-body form-control"
                  id="article_body"
                  placeholder="body"
                  <% if (article.get('hide_body')) { %>
                    disabled
                  <% } %>
                  ><% if (article.has('body')) { %><%= article.escape('body') %><% } %></textarea>
        <span class="input-group-addon">
          <input type="checkbox"
                 id="hide_article_body"
                 <% if (article.get('hide_body')) { %>
                 checked
                 <% } %>
                 >
                 <!--<label for="hide_body">hide?</label>-->
        </span>
      </div>
    </div>
  </div>
<!--
  <div class="row widget-panel">
    <a href="#">
      <div class="col-md-2
                  widget-panel-button
                  create-text-widget">
        TW
      </div>
    </a>
    <a href="#">
      <div class="col-md-2 widget-panel-button create-image-widget">
        IW
      </div>
    </a>
  </div>
-->

  <div class="row">
    <div class="col-md-12 panel panel-default create-section">
      <div class="panel-body">
        new section
      </div>
    </div>
  </div>


  <div class="row">
    <ul class="col-md-12 sections-list">
      <a href="#">
      </a>
    <ul>
  </div>
  
  <div class="row">
    <div class="col-md-1">
      <% if (article.id) { %>
        <input type="submit" value="update article">
      <% } else { %>
        <input type="submit" value="save article">
      <% } %>
    </div>
  </div>
<form>
<br>
<br>
<br>
