<div class="row article-row">
  <div class="col-md-12">
    <div class="article-title input-group input-group-lg">
      <input type="text"
             id="article_title"
             class="form-control"
             <% if (article.has('title')) { %>
               value="<%= article.escape('title') %>"
             <% } %>
             <% if (article.get('hide_title')) { %>
               disabled
             <% } %>
             placeholder="Article Title" />
      <span class="input-group-addon">
        <% var icon = (article.get('hide_title')) ? "fa-eye-slash" : "fa-eye" %>
        <i id="hide_article_title" class="fa <%= icon %> show-hide"></i>
      </span>
    </div>
  </div>
</div>

<div class="row article-row">
  <div class="col-md-12">
    <div class="article-body input-group input-group-lg">
      <textarea class="form-control"
                id="article_body"
                placeholder="Article Body"
                <% if (article.get('hide_body')) { %>
                  disabled
                <% } %>
                ><% if (article.has('body')) { %><%= article.escape('body') %><% } %></textarea>
      <span class="input-group-addon">
        <% var icon = (article.get('hide_body')) ? "fa-eye-slash" : "fa-eye" %>
        <i id="hide_article_body" class="fa <%= icon %> show-hide"></i>
      </span>
    </div>
  </div>
</div>

<ul class="sections-list"></ul>

<div class="row">
  <div class="col-md-2 col-md-offset-10">
    <% if (article.id) { %>
      <button>Update Article</button>
    <% } else { %>
      <button>Save Article</button>
    <% } %>
  </div>
</div>
