<a class="new-article" href="#">New Article</a>
<% articles.each(function(article) { %>
  <article>
  <% if (article.get('show_title')) { %>
    <h1><%= article.escape('title') %></h1>
  <% } %>
  <% if (article.get('show_body')) { %>
    <p><%= article.escape('body') %></p>
  <% } %>

  <% if (article.get('sections').length !== 0) { %>
    <% article.get('sections').each(function(section) { %>
      <section>
        <% if (section.get('show_title')) { %>
          <h3><%= section.escape('title') %></h3>
        <% } %>
      </section>
    <% }) %>
  <% } %>
  </article>
<% }) %>
