<form>
  <input type="text"
         name="article[title]"
         placeholder="title" />
  <label for="show_title">show title?</label>
  <input type="checkbox" name="article[show_title]" id="show_title" checked><br>

  <textarea name="article[body]"></textarea>
  <label for="show_body">show body?</label>
  <input type="checkbox" name="article[show_body]" id="show_body" checked><br>
  
  <input type="submit" value="create article">
<form>
<a href="#" class="add-section">add section</a>
