<form>
  <input type="text"
         id="article_title"
         placeholder="title">

  <label for="show_title">show title?</label>
  <input type="checkbox" id="show_title" checked><br>

  <textarea id="article_body"></textarea>

  <label for="show_body">show body?</label>
  <input type="checkbox" id="show_body" checked><br>
  
  <input type="submit" value="create article">
<form>
<a href="#" class="add-section">add section</a>
