<h1>Sign In</h1>
<form action="<%= session_url %>" method="POST">
  <input type="text" name="user[username]" placeholder="Username">
  <input type="password" name="user[password]" placeholder="Password">
  <input type="submit" value="Sign In">
</form>
