<ul class="sidebar-nav">
  <li class="sidebar-brand">
    DRAG<br/>
    THIS<br/>
    STUFF.

  </li>
  <li>
    <ul id="sidebar-section">
      <li id="sidebar-section-item"><a href="#">SECTION</a></li>
    </ul>
  </li>
  <li>
    <ul id="sidebar-row">
      <li id="sidebar-row-item"><a href="#">ROW</a></li>
    </ul>
  </li>
  <li>
    <ul id="sidebar-text">
      <li id="sidebar-text-item"><a href="#">TEXT</a></li>
    </ul>
  </li>
  <li>
    <ul id="sidebar-image">
      <li id="sidebar-image-item"><a href="#">IMAGE</a></li>
    </ul>
  </li>
  <li>
    <ul id="sidebar-placeholder">
      <li id="sidebar-placeholder-item"><a href="#">PLACEHOLDER</a></li>
    </ul>
  </li>
  <li>
    <ul id="sidebar-preview">
      <li id="sidebar-preview-item"><a href="#preview">PREVIEW</a></li>
    </ul>
  </li>
  <li>
    <ul id="sidebar-publish">
      <li id="sidebar-publish-item"><a href="#">PUBLISH</a></li>
    </ul>
  </li>
</ul>
