<article>
  <div class="row">
    <div class="col-md-12">
      <% unless article.hide_title %>
        <h1><%= article.title.html_safe %></h1>
      <% end %>

      <% unless article.hide_body %>
        <p><%= article.body.html_safe %></p>
      <% end %>
    </div>
  </div>
  <%= render article.sections %>
</article>
