<div id="content"></div>

<script type="application/json" id="article_json">
  { "article": <%== @article_json %> }
</script>

<script>
  $(function() {
    var article_json = JSON.parse($('#article_json').html());

    Glossy.initialize(article_json);
  });
</script>
