<form action="<%= user_articles_url %>" method="POST">
  <input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>">
  <input type="text" name="article[title]" placeholder="title">
  <label for="show_title">show title?</label>
  <input type="checkbox" name="article[show_title]" id="show_title"><br>

  <textarea name="article[body]"></textarea>
  <label for="show_body">show body?</label>
  <input type="checkbox" name="article[show_body]" id="show_body"><br>
  
  <input type="submit" value="create article">
<form>
