<div class="row widget-image-show">
  <div class="col-md-12">
    <% if (widget.has('image_url_smallest')) { %>
      <img src="<%= widget.escape('image_url_smallest') %>">
    <% } %>
  </div>
</div>

<div class="row widget-image-show">
  <div class="col-md-12">
    <% if (widget.has('title') && !widget.get('hide_title')) { %>
      <h3><%= widget.escape('title') %></h3>
    <% } %>
  </div>
</div>

<div class="row widget-image-show">
  <div class="col-md-12">
    <% if (widget.has('date') && !widget.get('hide_date')) { %>
      <h4><%= widget.escape('date') %></h3>
    <% } %>
  </div>
</div>
