<% var ord = tw.ord %>
<input type="text" placeholder="title"><br>
<label for="tw_show_title<%= ord %>">show title?</label>
<input type="checkbox"
       id="tw_show_title<%= ord %>"
       checked>

<textarea></textarea><br>
<label for="tw_show_body<%= ord %>">show body?</label>
<input type="checkbox"
       id="tw_show_body<%= ord %>"
       checked>

<a href="#" class="text-widget-remove">remove text</a>
