<% if (tw.get('show_title')) { %>
  <span class="text-widget-title"><%= tw.escape('title') %></span>
<% } %>

<% if (tw.get('show_body')) { %>
  <span class="text-widget-body"><%= tw.escape('body') %></span>
<% } %>
