<% var ord = widget.get('ord') %>
<div class="row">
  <div class="col-md-12">
    <div class="input-group input-group-lg text-widget-title">
      <input type="text"
             placeholder="heading"
             class="text-widget-title form-control"
             id="tw_title"
             <% if (widget.get('title')) { %>
               value="<%= widget.escape('title') %>"
             <% } %>
             <% if (!widget.get('show_body')) { %>
               disabled
             <% } %>
             >
      <span class="input-group-addon">
        <!--<label for="tw_show_title<%= ord %>">show?</label>-->
        <input type="checkbox"
               id="tw_show_title"
               <% if (widget.get('show_title')) { %>
                 checked
               <% } %>
               >
      </span>
    </div>
  </div>

</div>

<div class="row">
  <div class="col-md-12">
    <div class="input-group input-group-lg">
      <textarea class="text-widget-body form-control" 
                placeholder="body"
                id="tw_body"
                <% if (!widget.get('show_body')) { %>
                  disabled
                <% } %>
                ><% if (widget.get('body')) { %><%= widget.escape('body') %><% } %></textarea>
      <span class="input-group-addon">
        <!--<label for="tw_show_body<%= ord %>">show?</label>-->
        <input type="checkbox"
               id="tw_show_body"
               <% if (widget.get('show_body')) { %>
                 checked
               <% } %>
               >
      </span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 col-md-offset-9">
      <a href="#" class="text-widget-remove">remove text</a>
    </div>
  </div>
</div>
