<div class="row text-widget">
  <div class="col-md-12">
    <% if widget.show_title %>
      <h3><%= widget.title %></h3>
    <% end %>
    <% if widget.show_body %>
      <p><%= widget.body.html_safe %></p>
    <% end %>
  </div>
</div>
