<% var ord = section.escape('ord') %>
<input type="text"
       id="section_title<%= ord %>"
       value="<%= section.escape('title') %>">
<label for="show_title<%= ord %>">show title?</label>
<input type="checkbox"
       id="show_title<%= ord %>"
       <% if (section.get('show_title')) { %>
       checked
       <% } %>
       >
<a href="#" class="section-add-text">add text</a>
<a href="#" class="section-add-image">add image</a>
