<section>
  <div class="row section-row">
    <div class="col-md-12">
      <div class="section-title input-group input-group-lg">
        <input type="text"
               id="section_title"
               class="section-title form-control"
               <% if (section.has('title')) { %>
                 value="<%= section.escape('title') %>"
               <% } %>
               <% if (section.get('hide_title')) { %>
                 disabled
               <% } %>
               placeholder="Section Title" />
        <span class="input-group-addon">
          <% var icon = (section.get('hide_title')) ? "fa-eye-slash" : "fa-eye" %>
          <i id="hide_section_title" class="fa <%= icon %> show-hide"></i>
        </span>
      </div>
    </div>
  </div>

  <ul class="rows-list"></ul>
</section>
