<% var ord = section.get('ord') %>
<input type="text"
       id="section_title<%= ord %>"
       placeholder="section title">
<label for="show_title<%= ord %>">show title?</label>
<input type="checkbox"
       id="show_title<%= ord %>"
       checked>
