/*
 *= require_self
 *= require jquery-ui
 *= require_tree .
 */

@import 'bootstrap';
@import 'reset';
@import 'fonts';
@import 'http://fonts.googleapis.com/css?family=EB+Garamond';

// font stacks
$serif: "EB Garamond", serif;
$sans: "quicksand", sans-serif;
$sans-bold: "quicksand-bold", sans-serif;

body {
  font-family: $serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $sans-bold;
}

header {
  background-color: #333;
  color: #cecece;
  height: 100px;

  span.logo {
    font-size: 5em;
    font-family: $sans-bold;
  }

  nav.session {
    ul {
      list-style: none;
      li {
        padding-left: 2em;
        float: right;
      }
    }
  }
}

input[type=text].article-title {
  width: 100%;
  text-align: center;
  font-family: $sans-bold;
  font-size: 2em;
}

.input-group.article-title,
.input-group.text-widget-title,
.input-group.image-widget-title {
  margin-bottom: 1em;
}

#article_body {
//  margin-bottom: 1em;
  height: 200px;
}

textarea.article-body,
textarea.text-widget-body {
  width: 100%;
  text-align: center;
  font-family: $serif;
  font-size: 1.4em;
  resize: vertical;
}

input[type=text].section-title {
  width: 100%;
  text-align: center;
  font-family: $sans-bold;
  font-size: 1.6em;
}

input[type=text].text-widget-title {
  width: 100%;
  text-align: center;
  font-family: $sans-bold;
  font-size: 1.4em;
}

input[type=text].image-widget-title {
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  font-family: $sans;
}


input[type=date].image-widget-date {
  width: 100%;
  text-align: center;
  font-family: $sans;
  font-size: 1.2em;
}

.container {
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 3px solid black;
}

ul {
  list-style: none;
}

.widget-panel {
  margin-bottom: 1em;
}

.widget-panel-button {
  background-color: #dfdfdf;
  border: 1px solid black;
  text-align: center;
}

div.create-section {
  &:hover {
    background-color: #1f0d0d;
  }
  .panel-body {
    font-family: $sans-bold;
    text-align: center;
    font-size: 2em;
    color: #3a3a3a;
  }
}
