/*
 *= require_self
 *= require jquery-ui
 *= require font-awesome
 *= require_tree .
 */

@import 'bootstrap';
@import 'reset';
@import 'fonts';
@import 'http://fonts.googleapis.com/css?family=EB+Garamond';

// font stacks
$serif: "EB Garamond", serif;
$sans: "quicksand", sans-serif;
$sans-bold: "quicksand-bold", sans-serif;

body {
  font-family: $serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $sans-bold;
}

ul {
  list-style: none;
}

.container {
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 3px solid black;
}

// header stolen from old glossy
$bone: #F0EAD1;
$darkgray: #31302F;
$lightgray: #52504E;
$lightred: #6F0909;
$greeny: #C0D8C0;

@mixin transition($transition-property, $transition-time, $method) {
  -webkit-transition: $transition-property $transition-time $method;
  -moz-transition: $transition-property $transition-time $method;
  -ms-transition: $transition-property $transition-time $method;
  -o-transition: $transition-property $transition-time $method;
  transition: $transition-property $transition-time $method;
}

header {
  height: 100px;
  background-color: $darkgray;
  a {
    color: $bone;
    &:hover {
      text-decoration: none;
      color: $darkgray;
    }
    .logo {
      font-size: 5em;
      float: left;
      height: 100%;
      background-color: $darkgray;
      font-family: $sans-bold;
      
      @include transition(all, 0.2s, ease-out);

      &:hover {
        background-color: $lightgray;
      }
    }
    li { 
      float: right;
      font-size: 2em;
      height: 100%;
      padding: 1em .35em;
      text-align: center;
      background-color: $darkgray;

      @include transition(all, 0.2s, ease-out);

      &:hover {
        background-color: $lightgray;
      }
    }
    li.warning {
      &:hover {
        color: $bone;
        background-color: $lightred;
      }
    }
    li.good {
      &:hover {
        color: $bone;
        background-color: $greeny;
      }
    }
  }
  nav {
    float: right;
    height: 100%;
    ul {
      height: 100%;
    }
  }
}

// article
article {
  h1 {
    margin-top: 0;
    font-size: 2.4em;
    text-align: center;
  }
  p {
    font-family: $serif;
    text-align: justify;
    font-size: 1.6em;
  }
}

// section
section {
  h2 {
    font-size: 1.8em;
    text-align: center;
  }
}

// widgets
/// text widget
.text-widget {
  h3 {
    font-size: 1.4em;
    text-align: center;
  }
  p {
    font-size: 1.4em;
    text-align: center;
  }
}

// pagination
.pagination {
  font-size: 1.1em;
  font-family: $sans;
}

// edit/new
input[type=text].article-title {
  width: 100%;
  text-align: center;
  font-family: $sans-bold;
  font-size: 2em;
}

.input-group.article-title,
.input-group.text-widget-title,
.input-group.image-widget-title {
  margin-bottom: 1em;
}

#article_body {
  height: 200px;
}

textarea.article-body,
textarea.text-widget-body {
  width: 100%;
  text-align: center;
  font-family: $serif;
  font-size: 1.4em;
  resize: vertical;
}

input[type=text].section-title {
  width: 100%;
  text-align: center;
  font-family: $sans-bold;
  font-size: 1.6em;
}

input[type=text].text-widget-title {
  width: 100%;
  text-align: center;
  font-family: $sans-bold;
  font-size: 1.4em;
}

input[type=text].image-widget-title {
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  font-family: $sans;
}


input[type=date].image-widget-date {
  width: 100%;
  text-align: center;
  font-family: $sans;
  font-size: 1.2em;
}

div.create-section {
  margin-top: 1em;
  &:hover {
    background-color: #1f0d0d;
  }
  .panel-body {
    font-family: $sans-bold;
    text-align: center;
    font-size: 2em;
    color: #3a3a3a;
  }
}

ul.sections-list {
  padding-left: 0;
  margin-top: 1em;
}

li.section-edit {
  margin-top: 1em;
  //border-top: 1px dotted gray;
  //border-bottom: 1px dotted gray;
  //padding-top: 1em;
  //padding-bottom: 1em;
}

ul.rows-list {
  padding-left: 0;
}

li.row-edit {
}

ul.widgets-list {
  margin-top: 1em;
  padding-left: 0;
  &:last-child {
    margin-bottom: 1em;
  }
}

.row-widget-edit {
  margin-top: 2em;
  padding-left: 0;
  ul.widgets-list {
    padding-left: 0;
    li {
      background-color: '#000000';
      padding-left: 0;
    }
  }
}
