/*
 *= require_self
 *= require_tree .
 */

body {
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #cecece;
  overflow: hidden;
  width: 100%;
  margin: 0;
  padding: 1em;
  display: block;

  span.logo {
    font-size: 3em;
    display: inline-block;
    float: left;
  }

  nav.session {
    float: right;
    padding-right: 3em;
    ul {
      list-style: none;
      li {
        padding-left: 2em;
        float: right;
      }
    }
  }
}
