<header class="row">
  <div class="col-md-12">
    <%= link_to root_url do %>
      <span class="logo">glossy</span>
    <% end %>
    <nav>
      <ul>
        <% if logged_in? && params[:controller] != 'root' %>
          <%= link_to '#new', title: "new article" do %>
            <li><i class="fa fa-plus"></i></li>
          <% end %>

          <%= link_to '#edit', title: "edit article" do %>
            <li><i class="fa fa-edit"></i></li>
          <% end %>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
